:root {
    --vp-c-brand-1: var(--vp-c-red-1);
    --vp-c-brand-2: var(--vp-c-red-2);
    --vp-c-brand-3: var(--vp-c-red-3);
    --vp-c-brand-soft: var(--vp-c-red-soft);
    --vp-local-nav-bg-color: var(--vp-c-bg);
    --vp-nav-bg-color: var(--vp-c-bg);
    --vp-nav-screen-bg-color: var(--vp-c-bg);
    --vp-sidebar-bg-color: var(--vp-c-bg-alt);
    --vp-backdrop-bg-color: rgba(0, 0, 0, 0.6);
  }
  @media (min-width: 640px) {
    .name,
    .text {
      max-width: 614px;
      line-height: 56px;
      font-size: 48px;
    }
  }